<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/cyborg/bootstrap.min.css" 
  integrity="sha512-btcJYpZJYw8Q01/asshezM2QraXI5OMl47spBQ6yHnAHhevR2EOnWDP0VJznX8fpvtuWu289XafQpcO6I4e3+A==" crossorigin="anonymous" />
  <title>HydroFarm </title>
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"></div>

  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5">HydroFarm Web App </h1>
    <h5>Aiming to improve water efficiency without decreasing yield. Test</h5>
  </div>

  <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=bc095dd7-f02e-41eb-bcce-03e9c8f137f2&autoAuth=true&ctid=0b9d902d-e3c1-48f1-8979-365832b339dd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLXdlc3QyLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>

  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <form method="post" class="col-md"">
      {% csrf_token %}
      <div class=" input-group">

      <input type="text" class="form-control" name="city" placeholder="Choose Your City ...">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      </div>
      <form>
  </nav> -->
  <br> <br>
  <div class="row">
    {% if country_code and coordinate and temp and pressure and humidity %}
    <div class="col d-flex justify-content-center" ">
      <div class=" card text-white bg-light mb-6">
      <div class=" card-body">
        <h4><span class="badge badge-primary">Country Code :</span> {{country_code}}</h4>
        <h4><span class="badge badge-primary">City Name :</span> {{name}}</h4>
        <h4><span class="badge badge-primary">Temperature in Celsius :</span> {{temp}}</h4>
        <h4><span class="badge badge-primary">Pressure :</span> {{pressure}} </h4>
        <h4><span class="badge badge-primary">Humidity : </span> {{humidity}}</h4>
        <h4><span class="badge badge-primary">Wind Speed : </span> {{speed}}</h4>
        <h4><span class="badge badge-primary">Wind Direction : </span> {{deg}}</h4>
        <h4><span class="badge badge-primary">Forecast : </span> {{main}} <img
            src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
        <h4><span class="badge badge-primary">Description : </span> {{description}}</h4>
      </div>
      {% endif %}
    </div>
</body>

</html>